# Example environment variables for QPV Bot

DISCORD_TOKEN=TON_TOKEN_DISCORD
CLIENT_ID=TON_CLIENT_ID
# Optionnel pour enregistrer rapidement les commandes sur un serveur
GUILD_ID=TON_ID_DE_SERVEUR_OPTIONNEL
